html, body {
	font-family     : Verdana;
	overflow        : hidden;
	background-color: #E1EBEF;
}

#header {
	position     : absolute;
	top          : 0px;
	left         : 0px;
	min-height   : 128px;
	width        : 100%;
	background-color: #FFF;
	/*background   : url(../images/header-background.png) repeat-x;
	border-bottom: 3px #BBB solid;*/
	overflow     : hidden;
	cursor       : default;
}

#headerLogo {
	position: absolute;
	top     : 26px;
	left    : 35px;
    border  : 0;
    width     : 306px;
	height    : 100px;
}

#headerBackgroundLogo {
	position  : absolute;
	width     : 378px;
	height    : 128px;
	background-color: #000;
	margin: 0 auto;
}

#headerTitle {
	font-size   : 26px;
	line-height : 128px;
	height      : 128px;
	width       : 100%;
	color       : #000000;
	margin      : 0 auto;
}

#headerInformationsButton {
	display:none;
	background           : #555;
	padding              : 14px 4px 0px 4px;
	position             : absolute;
	height               : 50px;
	top                  : 27px;
	width                : 55px;
	text-align           : center;
	opacity              : 0.5;
	filter               : alpha(opacity=50);
	filter               : progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	border               : 1px solid #888;
	right                : 50px;
	-moz-border-radius   : 5px;
	-webkit-border-radius: 5px;
	border-radius        : 5px;
}

#headerInformationsButton:hover {
	opacity: 0.8;
	filter : alpha(opacity=80);
	filter : progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	cursor : pointer;
}
/*  Style pour la bannière DGFIP */
#banniere-dgfip {
	margin-bottom: -35px; 
	min-height: 170px; 
	padding: 15px 15px 0 0;
}

#reminderService, #step1 {
	display:none;
}
#banniere-dgfip img {
	margin: auto;
	width: auto;
}

#links-dgfip {
	float: left; 
	width: auto;
}

#links-left-dgfip {
	width: 120px; 
	float: left;
}

#links-right-dgfip {
	float: left; 
	margin: 15px 130px 0 24px;
}

#links-right-dgfip a {
	font-size: 0; 
	display: block; 
	height: 90px; 
	text-decoration: 
	none; width: 360px;
	overflow: hidden;
}
/*  Fin du style pour la bannière DGFIP */

#content {
	display         : none;
	position        : absolute;
	top             : 128px;
	bottom          : 45px;/* de base : 40px*/
	right           : 0px;
	left            : 0px;
	overflow-y      : auto;
	padding         : 0px;
	margin          : 0px;
}

#contentCenter {
	max-width: 800px;
	margin: auto;
}

#footer {
	position        : fixed;
	bottom          : 0px;
	right           : 0px;
	left            : 0px;
	line-height     : 40px;
	background-color: #EBEBEB;
	text-align      : center;
	font-size       : 12px;
	color           : #C4C4C4;
	border-top      : 3px #BBB solid;
	cursor          : default;
	/*changements Dorine 29/29/2014 - 07/10/2014
	background: url(../images/footer-logos.png) no-repeat;
	background-position: center top;*/
	height: 45px;
}

/* ombre sur titre
#footer, #headerTitle {
text-shadow: 0px 0px 0 rgb(163,163,163),
     		 1px 1px 0 rgb(76,76,76),
     		 2px 2px 1px rgba(0,0,0,0),
     		 2px 2px 1px rgba(0,0,0,0.5),
     		 0px 0px 1px rgba(0,0,0,.2);
}*/

#loading {
	margin: 10px 20px 20px 0px;
	width: 100%;
	text-align: center;
}

#contentAlert {
	display: none;
	margin: 10px 10px 0px 10px;
}

#reminderService {
	margin: 10px 10px 0px 10px;
}


#step2, #step3, #step4, #step5, #step6, #step7 {
	display: none;
}

#step1, #step2, #step3, #step5, #step6, #step7 {
	margin: 10px;
}

#step4 {
	margin: -10px 10px 10px 10px;
}

textarea {
	resize: none;
}

.thumbnail:hover {
	background-color: #FAFAFA;
	border:1px solid #AAA;
	cursor: pointer;
}

.thumbnail.selected{
	background-color: #F6F6F6;
	border:1px solid #888;
}

.text-red {
	color: #a94442;
}

.text-orange {
	color: #8a6d3b;
}

.text-green {
	color: #3c763d;
}

.personalInformationsTable {
width: 100%;
margin-bottom: 15px;
margin-top:-20px;
}

#timeList {
}

.personalInformationsTable td{
width: 50%;
}


.next{
	margin-left: 20px;
}
.prev{
	margin-right: 20px;
}


/* DatePicker Container */
.ui-datepicker {
	width: 100%;
	height: auto;
	text-align: center;
	margin-bottom: 15px;
}

/* DatePicker Table */
.ui-datepicker table {
	width: 100%;
}

.ui-datepicker-header {
	font-weight: bold;
	line-height: 30px;
	border-bottom: 1px solid #ddd;
	margin-top: -7px;
}

.ui-datepicker-title {
	font-size: 120%;

}

.ui-datepicker-prev, .ui-datepicker-next {
	display: inline-block;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: url('../images/arrow.png') no-repeat;
	line-height: 600%;
	overflow: hidden;
}
.ui-datepicker-prev {
	float: left;
	background-position: center -30px;
}
.ui-datepicker-prev:hover, .ui-datepicker-next:hover {
	opacity: 0.6;
}
.ui-datepicker-next {
	float: right;
	background-position: center 0px;
}

.ui-datepicker th {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

.ui-datepicker tbody td {
	padding: 3px;
	width: 10%;
}

.ui-datepicker td span, .ui-datepicker td a {
	display: inline-block;
	font-weight: bold;
	width: 100%;
	height: 44px;
	line-height: 44px;
	color: #666666;
	text-decoration: none;
}
.ui-datepicker-calendar .ui-state-default {
	border: 1px solid #ddd;
	background: #ededed;
}
.ui-datepicker-calendar .ui-state-hover {
	background: #f7f7f7;
}
.ui-datepicker-calendar .ui-state-active {
	background: #313131 !important;
	color: #e0e0e0;
	position: relative;
}
.ui-datepicker-unselectable .ui-state-default {
	opacity: 0.5;
	color: #b4b3b3;
}

.highlight_green a{
   background-color : #04B404 !important;
   color: white !important;
}

.highlight_green a:hover{
    opacity:0.8;
}

.highlight_orange a{
   background-color : #FFBF00 !important;
   background-image :none !important;
   color: White !important;
}

.highlight_red a{
   background-color : #E11837 !important;
   color: White !important;
   opacity:0.2;
   cursor: normal !important;
}

#navigationButtons {
	margin: -10px 10px 10px 10px;
}

@media (max-width: 500px) {


#footer {
	display:none;
}

#content {
	bottom: 0px;
}

#headerLogo {
	top     : 20px;
	left    : 25px;
	width: 50px;
	height: 20px;
}

}

@media (max-width: 800px) {
	#headerLogo {
	top     : 22px;
	left    : 30px;
	width: 140px;
	height: 50px;
}
	#headerTitle{
		font-size: 20px;
	}
	.next{
	margin-left: 180px;
}
.prev{
	margin-right: 20px;
}
}

@media (max-width: 690px) {
	#headerLogo {
	top     : 25px;
	left    : 26px;
	width: 90px;
	height: 30px;
}
	#headerTitle{
		font-size: 18px;
		margin :0 100px 0 100px;
		height: 80px;
		line-height: 80px;
	}
	#header{
		height: 80px;
		line-height: 80px;
		min-height: 80px;
	}
	#content{
		top:83px;
	}
	.next{
	margin-left: 130px;
}
.prev{
	margin-right: 20px;
}

}
@media (max-width: 580px) {
	.next{
	margin-left: 80px;
}
.prev{
	margin-right: 20px;
}
}
@media (max-width: 480px) {
	#headerLogo {
	top     : 17px;
	left    : 20px;
	width: 50px;
	height: 20px;
}
	#headerTitle{
		font-size: 16px;
		margin :0 0px 0 70px;
		height: 55px;
		line-height: 55px;
	}
	#header{
		height: 55px;
		line-height: 55px;
		min-height: 55px;
	}
	#content{
		top:58px;
	}
	.next{
	margin-left: 20px;
}
.prev{
	margin-right: 20px;
}
}
@media (max-width: 360px) {
		.next{
	margin-left: 0px;
}
.prev{
	margin-right: 0px;
}
}



#nextButton {
	display: none;
}
#previousButton {
	text-align: center;
	font-size: 20px;
}
#icon-help {
	margin-left:5px;
}
#icon-help:hover {
	cursor:pointer;
}

#tt {
 position:absolute;
 display:block;
 z-index: 50;
 }
 #tttop {
 display:block;
 height:5px;
 margin-left:5px;
 overflow:hidden;
 }
 #ttcont {
 display:block;
 padding:2px 12px 3px 7px;
 margin-left:5px;
 background:#666;
 color:#fff;
 }
#ttbot {
display:block;
height:5px;
margin-left:5px;
overflow:hidden;
}